* {
    margin: 0;
    padding: 0;
  }

html{
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container{
    width: 100%;
}

.index{
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

.container>header{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    padding: 1.3rem;
    position: fixed;
}

header>ul>li{
    list-style-type: none;
    /* padding-inline: 1.0rem; */
    margin-inline: 15px;
}

header>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    /* font-family: 'Josefin Slab', serif; */
}

.mbti{
    width: 250px;
    border-radius: 10%;
    margin-bottom: 30px;
}

.nahyeon{
    width: 250px;
    border-radius: 10%;
    margin-bottom: 25px;
}

.hobby>img{
    width: 200px;
    border-radius: 10%;
}

.favoritelist{
    display: flex;
    justify-content: space-around;
}

section>h2{
    padding: 100px;
    color: rgb(237, 237, 237);
}

section>h3{
    padding: 50px;
}

section>a{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

.index:nth-child(2){
    background-color: rgb(132, 131, 129);
}

.index:nth-child(3){
    background-color: rgb(130, 134, 131);
}

.index:nth-child(4){
    background-color: rgb(141, 151, 154);
}

.index:nth-child(5){
    background-color: rgb(116, 122, 126);
}

.index:nth-child(6){
    background-color: rgb(106, 110, 111);
}